<!DOCTYPE html>
<html>
<head>
  <title>Table Tennis</title>
  <link rel="stylesheet" href="/index.css">
  <link rel="icon" href="/table_tennis_racket.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  
  <div class="header">
    <h1 class="header-h1">Player Leaderboard</h1>
    <div class="redirect-btns-container">
      <h1 class="redirect-btn redirect-btn-compare-players">Compare Players</h1>
      <h1 class="redirect-btn redirect-btn-home">Home</h1>
    </div>
  </div>

  <main class="purple-bg">
    <div class="centered-table-container" style="margin-top: calc(11rem); height: calc(100vh - 11rem);">
      <div>
        <table>
          <tbody>
            <% players.forEach((player, index) => { %>
              <tr>
                <% if (index === 0) { %>
                  <td class="leaderboard-first-place leaderboard-placement-display"><h1>🥇</h1></td>
                  <td class="leaderboard-p-name"><h1 class="p-name-redirect" title="Go to player stats page" data-player-id="<%= player.id %>"><%= gpn(player.id) %></h1><h2 title="<%= gpn(player.id) %>'s Elo Rating">(<%= player.elo %>)</h2></td>
                <% } else if (index === 1) { %>
                  <td class="leaderboard-second-place leaderboard-placement-display"><h1>🥈</h1></td>
                  <td class="leaderboard-p-name"><h1 class="p-name-redirect" title="Go to player stats page" data-player-id="<%= player.id %>"><%= gpn(player.id) %></h1><h2 title="<%= gpn(player.id) %>'s Elo Rating">(<%= player.elo %>)</h2></td>
                <% } else if (index === 2) { %>
                  <td class="leaderboard-third-place leaderboard-placement-display"><h1>🥉</h1></td>
                  <td class="leaderboard-p-name"><h1 class="p-name-redirect" title="Go to player stats page" data-player-id="<%= player.id %>"><%= gpn(player.id) %></h1><h2 title="<%= gpn(player.id) %>'s Elo Rating">(<%= player.elo %>)</h2></td>
                <% } else { %>
                  <td class="leaderboard-other-places leaderboard-placement-display"><h2>#<%= index + 1 %></h2></td>
                  <td class="leaderboard-p-name"><h2 class="p-name-redirect" title="Go to player stats page" data-player-id="<%= player.id %>"><%= gpn(player.id) %></h2><h3 title="<%= gpn(player.id) %>'s Elo Rating">(<%= player.elo %>)</h3></td>
                <% } %>
              </tr>
            <% }) %>
        </table>
      </div>
    </div>
  </main>

  <script defer>
    document.querySelector('.redirect-btn-compare-players').addEventListener('click', () => {
      window.location.href = '/compare-players';
    });

    document.querySelector('.redirect-btn-home').addEventListener('click', () => {
      window.location.href = '/';
    });

    document.querySelectorAll(".p-name-redirect").forEach((ele) => {
      ele.addEventListener("click", () => {
        const playerId = ele.getAttribute("data-player-id");
        window.location.href = `/player/${playerId}`;
      });
    });
  </script>

</body>
</html>