<!DOCTYPE html>
<html>
<head>
  <title>Table Tennis</title>
  <link rel="stylesheet" href="/index.css">
  <link rel="icon" href="/table_tennis_racket.png" type="image/x-icon">
</head>
<body>
  <div class="header">
    <h1 class="header-h1">Recently Played Games</h1>
    <div class="redirect-btns-container">
      <h1 class="redirect-btn redirect-btn-compare-players">Compare Players</h1>
      <h1 class="redirect-btn redirect-btn-leaderboard">Leaderboard</h1>
    </div>
    <!-- TODO: add filter dropdown for filtering by set length. users can choose 6, 11, or 21 from the dropdown to filter -->
  </div>

  <ul class="game-list">
    <% games.forEach((game) => { %>
      <li>
        <div class="game-card" onclick="window.location.href='/game/<%= game.id %>'">

          <div class="game-card-players">
            <% if (game.winner_id === game.p1_id) { %>
              <h2><u><%= gpn(game.p1_id) %></u> vs <%= gpn(game.p2_id) %></h2>
            <% } else { %>
              <h2><%= gpn(game.p1_id) %> vs <u><%= gpn(game.p2_id) %></u></h2>
            <% } %>
          </div>

          <div class="game-card-score">
            <h2 title="First to <%= game.set_length %>">
              <%= game.p1_score %> - <%= game.p2_score %>
            </h2>
          </div>

          <div class="game-card-date">
            <h2><%= UtcToPst(game.started_at) %></h2>
          </div>
          
        </div>
      </li>
    <% }) %>
  </ul>

  <script defer>
    document.querySelector('.redirect-btn-leaderboard').addEventListener('click', () => {
      window.location.href = '/leaderboard';
    });

    document.querySelector('.redirect-btn-compare-players').addEventListener('click', () => {
      window.location.href = '/compare-players';
    });
  </script>
</body>
</html>